@import "_global.scss";


body {
	background: url("../img/bg-large.jpg") no-repeat fixed center center;
}
@media (min-width:1080px), (min-height: 757px) {
	body {
		background-size: cover;
	}
}

p:last-child {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: $green;

	&:hover {
		text-decoration: underline;
		color: $red;
	}
}

.short footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.top, footer {
	background-color: $red;
}

footer {
	border-top: 1px solid #fff;
	padding: 20px 20px 10px;
	@include addPrefixes(box-sizing, border-box);
	
	.home {
		font-family: $copyFont;
		text-transform: uppercase;
		color: #000;
		color: rgba(0,0,0,.8);
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.top {
	height: 85px;
	border-bottom: 1px solid #fff;

	div {
		@include fixedBackgroundRepeat("../img/bg-noodles.png", 159px, 255px, 6);
		opacity: $opacity;
		background-position: left center;
		min-height: 47px; // height of noodles
		height: 100%;
		width: 100%;
		margin: 0 auto;
	}
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	color: $red;
}

h2, h3 {
	font-weight: normal;
}

.details {
	font-size: 1.2em;
}