@import "_global.scss";

@media (max-width:349px) {
	body {
		background-image:url(../img/bg-small.jpg);
		background-size: cover;
	}
}

.body {
	margin: 10px;
	padding: 10px;
	background: #fff;
	background: rgba(255,255,255,.8);
}

header {
	text-align: center;
}

h1 {
	word-wrap:break-word;
}

.date {
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	margin: 10px 0;
	padding: 10px 0;

	h2, h3 {
		font-size: 1em;
		text-align: center;
	}

	h2 {
		font-family: $copyFont;
		font-weight: bold;
	}

	hr {
		border-color: $red;
		margin: 10px 0;
	}

	.icon {
		font-size: 2em;
		line-height: 1em;
		text-align: center;

		img {
			display: none;
		}
	}

	p {
		margin: 0;
	}
}

.right {
	border-top: 1px solid $red;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}

footer {
	text-align: center;
	
	.icon {
		display: none;
	}

	.home {
		display: inline-block;
	}
}