@media (max-width: 349px) {
  body {
    background-image: url(../img/bg-small.jpg);
    background-size: cover; } }
.body {
  margin: 10px;
  padding: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8); }

header {
  text-align: center; }

h1 {
  word-wrap: break-word; }

.date {
  border-top: 1px solid #a73d30;
  border-bottom: 1px solid #a73d30;
  margin: 10px 0;
  padding: 10px 0; }
  .date h2, .date h3 {
    font-size: 1em;
    text-align: center; }
  .date h2 {
    font-family: "Overlock", serif;
    font-weight: bold; }
  .date hr {
    border-color: #a73d30;
    margin: 10px 0; }
  .date .icon {
    font-size: 2em;
    line-height: 1em;
    text-align: center; }
    .date .icon img {
      display: none; }
  .date p {
    margin: 0; }

.right {
  border-top: 1px solid #a73d30;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center; }

footer {
  text-align: center; }
  footer .icon {
    display: none; }
  footer .home {
    display: inline-block; }
